x-common-settings: &common-settings
  build:
    context: .
    dockerfile: Dockerfile
    target: release
  depends_on:
    db:
      condition: service_healthy
  environment:
    - "ALLOWED_HOSTS=*"
    - "DATABASE_URL=postgres://postgres@db/postgres"
    - "DJANGO_DEBUG=true"
  env_file: .env
  tty: true
  volumes:
    - .:/src:cache

services:

  db:
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
    healthcheck:
      test: [
        "CMD-SHELL",
        "pg_isready",
        "-d",
        "postgres"
      ]
      interval: 10s
      timeout: 3s
      retries: 3
    image: "pgautoupgrade/pgautoupgrade:17-alpine"
    init: true
    user: postgres
    volumes:
      - .:/src:cache
      - postgres-data:/var/lib/postgresql/data/

  utility:
    <<: *common-settings
    command: [
      "uv",
      "run",
      "-m",
      "manage",
      "--version"
    ]
    entrypoint: ["/src/compose-entrypoint.sh"]

  web:
    <<: *common-settings
    command: ["/src/start-dev.sh"]
    healthcheck:
      test: ["CMD-SHELL", "./healthcheck-web.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    init: true
    ports:
      - "8000:8000"

  tailwind:
    <<: *common-settings
    command: ["uv", "run", "-m", "manage", "tailwind", "--skip-checks", "watch"]
    depends_on: []
    init: true

volumes:
  postgres-data:
