# fly.toml file generated for djangocon-us-grorg on 2023-03-16T11:01:32-05:00

app = "djangocon-us-grorg"
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "den"
processes = []

[deploy]
  release_command = "python manage.py migrate --noinput"

[http_service]
  auto_start_machines = true
  auto_stop_machines = true
  force_https = false
  internal_port = 8000
  min_machines_running = 0
  processes = ["app"]

[env]
  PORT = "8000"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 8000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"

[[statics]]
  guest_path = "/code/static"
  url_prefix = "/static/"
