{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block whole_title %}{% block title %}{% endblock %} - Grorg{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://fav.farm/🦄" />
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'fonts/alte_din/stylesheet.css' %}" type="text/css" media="screen" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/select2.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <script src="{% static 'js/select2.js' %}" type="text/javascript"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">

        {% block edit_bar %}{% endblock %}

        <header class="header" style="{% block header_style %}{% endblock %}">
            <nav>
                <ul class="primary-nav">
                    <li class="home"><a href="{% url 'index' %}">Grorg</a></li>
                    {% if user.is_authenticated %}
                        <li class="right"><a href="{% url 'account_logout' %}">Log Out</a></li>
                        <li class="right"><a href="{% url 'join' %}">Join Program</a></li>
                        <li class="right"><a href="#"><i class="fa fa-user"></i> &nbsp;{{ user }}</a></li>
                    {% else %}
                        <li class="right"><a href="{% url 'account_login' %}">Log In</a></li>
                        <li class="right"><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block content-wrapper %}
            <main class="content">
                {% if messages %}
                    <section class="section">
                        <div class="main-column">
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                {% endif %}
                {% if program %}
                    <section class="section program-header">
                        {% if user_allowed_program %}
                            <div class="left-column">
                                <h1><a href="{{ program.urls.view }}">{{ program }}</a></h1>
                            </div>
                            <div class="right-column">
                                <nav>
                                    <ul class="subnav">
                                        <li><a href="{{ program.urls.questions }}">Questions</a></li>
                                        <li><a href="{{ program.urls.applicants }}">Applicants</a></li>
                                        <li><a href="{{ program.urls.resources }}">Resources</a></li>
                                        {% if user.is_staff %}
                                            <li class="admin"><a href="{% url 'admin:grants_program_change' program.pk %}">Admin</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        {% else %}
                            <div class="left-column">
                                <h1>{{ program }}</h1>
                            </div>
                        {% endif %}
                    </section>
                {% endif %}
                {% block content %}
                {% endblock %}
            </main>
        {% endblock content-wrapper %}

        <footer>
            <section class="section">
                <p>&copy; {% now "Y" %} Grorg - A grant management platform</p>
                <p>
                    <a href="https://github.com/djangocon/grorg/issues">GitHub Issues</a> |
                    <a href="https://github.com/djangocon/grorg/discussions">GitHub Discussions</a>
                </p>
            </section>
        </footer>

    </body>
</html>
